apiVersion: apps/v1
kind: Deployment
metadata:
  name: metrics-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: metrics-app
  template:
    metadata:
      labels:
        app: metrics-app
    spec:
      containers:
      - name: metrics-app
        image: chanakaj/metrics-app:latest  # Replace with your Docker Hub username
        ports:
        - containerPort: 8000
        resources:
          limits:
            cpu: "500m"
            memory: "128Mi"
